body{
    color:white;
    background-color: black;
}
.nav-link{
    color: white;
    margin-right: 40px;
    
}
.nav-link.active{
    border-bottom: 2px solid yellow;
}
#div_jay{
    margin-top: 70px;
}
#div_line{
    border-bottom: 1px solid;
    height: 2px;
    margin-top: 0px;
}
#div_jay2{
    margin-top: 20px;
}
#div_jay3{
    margin-top: 20px;
}
#div_about{
    margin-top: 150px;
}
#img_about{
    border-radius: 50%;
    padding: 15px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
#img_about2{
    position: relative; 
    margin-top: 100px;
    border-radius: 50%;
    margin-left: 150px;
}
#div_about2{
    margin-top: 150px;
}
#div_text2{
    text-align: center;
}
#div_contact{
    background-color: white;
    color: black;
    padding: 30px;
}
#div_contact1{
    margin-top: 100px;
}
#div_talk{
    padding: 10px 40px 10px 40px;
    background-color: #FCBE0F;
    color: white;
    font-size: 20px;
}
.footer{
    text-align: center;
    padding: 2px;
    color: white;
    background-color: black;
    margin-top: 50px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: comic, cursive;
}
body{
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 80px;
}
.wrapper h2{
    margin-bottom: 40px;
    font-size: 20px;
}
.wrapper p{
    margin-top: 60px;
    font-size: 15px;
    text-align: center;
}

.text{
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    left: 30px;
}
#div-started{
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
}
.newsletter input{
    padding: 5px 100px 5px 100px;
    font-size: 12px;
    padding-left: 0;
    margin: 5px;
}
#div-subscribe{
    padding: 5px 90px 5px 90px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}
